body {
    text-align: center;
    background: #fff;
    margin: 0;
    overflow: hidden;
}
/* # is used to target ids in HTML */
canvas {
    background: rgb(2, 12, 2);
    /* background: rgb(232, 238, 232); */
}